<sectioncontainer id="section-about_us" class="qt-section">
  <!-- About tab start -->
  <section id="qt-about" class="qt-about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="icon-hexagon-sm">
            <i class="fa fa-users"></i>
          </span>
          <h2 class="">关于我们</h2>
          <hr class="half-rule">
          <span class="title-desc">一个关注推进社会保障服务现代化的专业团队</span>
          <div class="gap-40"></div>
        </div>
      </div>
      <!-- Title row end-->

      <div class="row">
        <div class="col-md-12">
          <p class="">Sed finibus facilisis eros, sed lobortis ligula. Sed at vestibulum sem. Donec nec consectetur sem, quis tincidunt sapien. Quisque venenatis leo dolor, at semper justo fringilla sed. In ut pretium dui. Mauris sem ante, feugiat vitae varius
            vitae, faucibus sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit dui.
            Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
        </div>
        <div class="landing-tab clearfix">
          <ul class="nav nav-tabs nav-stacked col-md-3 col-sm-5">
            <li class="active">
              <a class="" href="#tab-who_we_are" data-toggle="tab">
                <span class="tab-icon">
                  <i class="fa fa-users"></i>
                </span>
                <div class="tab-info">
                  <h3>我们是谁</h3>
                </div>
              </a>
            </li>
            <li>
              <a class="" href="#tab-our_company" data-toggle="tab">
                <span class="tab-icon">
                  <i class="fa fa-briefcase"></i>
                </span>
                <div class="tab-info">
                  <h3>我们的公司</h3>
                </div>
              </a>
            </li>
            <li>
              <a class="" href="#tab-what_we_do" data-toggle="tab">
                <span class="tab-icon">
                  <i class="fa fa-laptop"></i>
                </span>
                <div class="tab-info">
                  <h3>我们做些什么</h3>
                </div>
              </a>
            </li>
            <li>
              <a class="" href="#tab-learning" data-toggle="tab">
                <span class="tab-icon">
                  <i class="fa fa-university"></i>
                </span>
                <div class="tab-info">
                  <h3>培训</h3>
                </div>
              </a>
            </li>
            <li>
              <a class="" href="#tab-accolades" data-toggle="tab">
                <span class="tab-icon">
                  <i class="fa fa-trophy"></i>
                </span>
                <div class="tab-info">
                  <h3>荣誉</h3>
                </div>
              </a>
            </li>
          </ul>
          <div class="tab-content col-md-9 col-sm-7">
            <div class="tab-pane active" id="tab-who_we_are">

              <p class="">Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit
                elit condimentum. Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim justo, eu varius sem convallis at. Aliquam feugiat hendrerit sollicitudin. Vivamus dignissim erat eget ex egestas, ut vehicula sapien aliquam.
                Suspendisse sed magna sit amet nisl condimentum fringilla.</p>
            </div>
            <div class="tab-pane" id="tab-our_company">
              <p class="">Pellentesque porta turpis a blandit dictum. Maecenas ullamcorper felis vitae blandit scelerisque. Aenean quis diam urna. In urna nibh, eleifend at nibh eu, dapibus porta arcu. In a est imperdiet, laoreet urna id, elementum neque. Donec
                ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit elit condimentum. Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim
                justo, eu varius sem convallis at.</p>
            </div>
            <div class="tab-pane" id="tab-what_we_do">
              <p class="">Sed finibus facilisis eros, sed lobortis ligula. Sed at vestibulum sem. Donec nec consectetur sem, quis tincidunt sapien. Quisque venenatis leo dolor, at semper justo fringilla sed. In ut pretium dui. Mauris sem ante, feugiat vitae varius
                vitae, faucibus sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit dui.
                Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
            </div>
            <div class="tab-pane" id="tab-learning">
              <p class="">Aenean quis diam urna. In urna nibh, eleifend at nibh eu, dapibus porta arcu. In a est imperdiet, laoreet urna id, elementum neque. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque
                feugiat mi eget arcu condimentum, quis hendrerit elit condimentum. Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim justo, eu varius sem convallis at dui. Vestibulum condimentum purus vel eros sagittis porta.
                Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
            </div>
            <div class="tab-pane" id="tab-accolades">
              <p class="">Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi. faucibus
                sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit dui. Vestibulum
                condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
            </div>
          </div>
          <!-- tab content -->
        </div>
        <!-- Overview tab end -->
      </div>
      <!--/ Content row end -->
    </div>
    <!-- Container end -->
  </section>
  <!-- About end -->

  <!-- Counter Strat -->
  <section class="qt-counter-container bg-2 bg-cover">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-user"></i>
            <div class="facts-num">
              <span class="counter">1345</span>
            </div>
            <h3>客户</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-send"></i>
            <div class="facts-num">
              <span class="counter">2473</span>
            </div>
            <h3>销售</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-suitcase"></i>
            <div class="facts-num">
              <span class="counter">149</span>
            </div>
            <h3>项目</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-trophy"></i>
            <div class="facts-num">
              <span class="counter">22</span>
            </div>
            <h3>奖项</h3>
          </div>
        </div>
      </div>
    </div>
    <!--/ Container end -->
  </section>
  <!--/ Counter end -->
  <!-- Clients start -->
  <section id="qt-testimonial" class="qt-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-hexagon-sm">
            <i class="fa fa-pencil"></i>
          </span>
          <h2 class="title2">客户反馈</h2>
          <hr class="half-rule">
          <span class="title-desc">Consectetur ante aliquet in. Proin sed fringilla arcu aliquam.</span>
        </div>
      </div>
      <!-- Title row end -->
      <div class="gap-20"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial-col-content">
            <div class="testimonial-text-item">
              <p class="testimonial-text">
                Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit.
              </p>
            </div>
            <div class="testimonial-info">
              <img class="testimonial-thumb" src="http://res.cloudinary.com/quickthemes/image/upload/w_960,h_640,c_scale/x_196,y_17,w_598,h_598,c_crop/v1457144395/v9azj8xupgydwdcmy6lu.jpg" alt="testimonial">
              <span class="testimonial-author">Richard Wright</span>
              <span class="testimonial-author-desg">CIO</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-col-content">
            <div class="testimonial-text-item">
              <p class="testimonial-text">
                Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit.
              </p>
            </div>
            <div class="testimonial-info">
              <img class="testimonial-thumb" src="http://res.cloudinary.com/quickthemes/image/upload/w_480,h_720,c_scale/x_2,y_3,w_478,h_488,c_crop/v1457144406/jmcq8axoxkkq8f21v745.jpg" alt="testimonial">
              <span class="testimonial-author">Michelle Davis</span>
              <span class="testimonial-author-desg">Managing Director</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-col-content">
            <div class="testimonial-text-item">
              <p class="testimonial-text">
                Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit.
              </p>
            </div>
            <div class="testimonial-info">
              <img class="testimonial-thumb" src="http://res.cloudinary.com/quickthemes/image/upload/v1457144413/lavas4huu7mo4nof9noz.jpg" alt="testimonial">
              <span class="testimonial-author">Roger Simons</span>
              <span class="testimonial-author-desg">Charman of the Board</span>
            </div>
          </div>
        </div>

      </div>
      <!--/ Main row end -->
    </div>
    <!--/ Container end -->
  </section>
  <!--/ Clients end -->

  <section id="qt-newsletter" class="qt-newsletter bg-2 bg-cover">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <h2 class="title2">订阅</h2>
          <hr class="half-rule">
          <span class="title-desc">订阅我们的邮件更新</span>
          <div class="gap-20"></div>

        </div>
      </div>
      <!--/ Title row end -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
          <form action="#" method="post" id="newsletter-form" class="newsletter-form " data-wow-duration=".8s" style="visibility: visible;">
            <div class="form-group">
              <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="输入您的电子邮箱" autocomplete="off">
              <button class="btn btn-base">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
  </section>
</sectioncontainer>
