<sectioncontainer id="section-contact" class="qt-section">
  <section id="qt-contact-container" class="qt-contact-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-hexagon-sm">
            <i class="fa fa-fax"></i>
          </span>
          <h2 class="">联系我们</h2>
          <hr class="half-rule">
          <span class="title-desc">Fusce feugiat porta leo, sed</span>
        </div>
      </div>
      <!--/ Title row end -->
      <div class="gap-40"></div>
      <div class="row">
        <!-- Map start here -->
        <div id="map-wrapper" class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 no-padding">
          <div class="map" id="map"></div>
        </div>
        <!--/ Map end here -->

      </div>
      <!-- Content row  end -->

      <div class="gap-40"></div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0">
          <form id="contact-form" action="contact-form.php" method="post" role="form">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>姓名</label>
                  <input class="form-control" name="name" id="name" placeholder="" type="text" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>电子邮件</label>
                  <input class="form-control" name="email" id="email" placeholder="" type="email" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>主题</label>
                  <input class="form-control" name="subject" id="subject" placeholder="" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>内容</label>
              <textarea class="form-control" name="message" id="message" placeholder="" rows="10" required></textarea>
            </div>
            <div class="text-right"><br>
              <button class="btn btn-lg btn-base" type="submit">给我们留言</button>
            </div>
          </form>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0">
          <div class="contact-info">
            <h3>联系方式</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget erat magna. Pellentesque justo ante</p>
            <br>
            <p>
              <i class="fa fa-home info"></i>
              732 Wright Street, Jackson, WY
            </p>
            <p>
              <i class="fa fa-phone info"></i>
              +(343) 223-3432
            </p>
            <p>
              <i class="fa fa-envelope-o info"></i>
              support@qabcdef.com.com</p>
            <p>
              <i class="fa fa-globe info"></i>
              www.quickthemes.com</p>
          </div>
        </div>
      </div>

    </div>
    <!--/ container end -->

  </section>
  <!--/ Main container end -->
</sectioncontainer>
