<sectioncontainer id="section-footer" class="qt-section">
  <!-- Footer start -->
  <section id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="scl unstyled">
            <li>
              <a class="twt" title="Twitter" href="#">
                <span class="icon-hexagon-sm">
                  <i class="fa fa-twitter"></i>
                </span>
              </a>
              <a class="fb" title="Facebook" href="#">
                <span class="icon-hexagon-sm">
                  <i class="fa fa-facebook"></i>
                </span>
              </a>
              <a class="gplus" title="Google+" href="#">
                <span class="icon-hexagon-sm">
                  <i class="fa fa-google-plus"></i>
                </span>
              </a>
              <a class="linkdin" title="linkedin" href="#">
                <span class="icon-hexagon-sm">
                  <i class="fa fa-linkedin"></i>
                </span>
              </a>
              <a class="pter" title="Pinterest" href="#">
                <span class="icon-hexagon-sm">
                  <i class="fa fa-pinterest"></i>
                </span>
              </a>
              <a class="skype" title="Skype" href="#">
                <span class="icon-hexagon-sm">
                  <i class="fa fa-skype"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--/ Row end -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copyright-info">
            &copy; Copyright 2016 Quickthemes.
            <span>All Rights Reserved</span>
          </div>
        </div>
      </div>
      <!--/ Row end -->

    </div>
    <!--/ Container end -->
  </section>
  <!--/ Footer end -->
</sectioncontainer>
