<sectioncontainer id="section-gallery" class="qt-section">
  <!-- Gallery start -->
  <section id="qt-gallery" class="qt-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="">Gallery</h2>
          <hr class="half-rule">
          <span class="title-desc">Fusce feugiat porta leo, sed.</span>
        </div>
      </div>
      <!--/ Title row end -->
      <div class="gap-40"></div>
      <div id="app-gallery-carousel" class="col-sm-12 owl-carousel owl-theme text-center app-gallery">
        <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg">
                <i class="fa fa-search"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg">
                <i class="fa fa-search"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372880/vnea9vytns6vh1rlpgqn.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372880/vnea9vytns6vh1rlpgqn.jpg">
                <i class="fa fa-search"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <div class="grid">
          <figure class="effect-oscar item screenshot-img-wrapper">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg">
                <i class="fa fa-search"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <div class="grid">
          <figure class="effect-oscar item screenshot-img-wrapper">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372732/v4c56idjsxnakfxt9olm.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372732/v4c56idjsxnakfxt9olm.jpg">
                <i class="fa fa-search"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive screenshot-img" src="https://res.cloudinary.com/quickthemes/image/upload/v1459373063/nwljtkhpxfalexcyx1rq.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459373063/nwljtkhpxfalexcyx1rq.jpg">
                <i class="fa fa-search"></i>
              </a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!-- App gallery end -->
    </div>
    <!--/ Container end -->
  </section>
  <!--/ gallery end -->
</sectioncontainer>
