<sectioncontainer id="section-home" class="qt-section">
  <!-- Carousel
    ================================================== -->
  <div id="myCarousel3_1a80" class="carousel carousel-800 slide " data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-round">
      <li data-target="#myCarousel3_1a80" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel3_1a80" data-slide-to="1"></li>
      <li data-target="#myCarousel3_1a80" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner item1" role="listbox">
      <div class="item active">
        <div class="bg-overlay"></div>
        <div class="qt qt-carousel carousel-800 bg-cover bg-2 flex-centered-768">
          <div class="container ">
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-6 text-left s-10">
              <h2 class="color-white heading-lg">Business Pro Theme</h2>
              <p class="color-white">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="bg-overlay"></div>
        <div class="qt qt-carousel carousel-800 bg-cover bg-3 flex-centered-768">
          <div class="container">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-6 text-left s-10">
              <h2 class="color-white heading-lg">Feature Packed Theme</h2>
              <p class="color-white">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="bg-overlay"></div>
        <div class="qt qt-carousel carousel-800 bg-cover bg-4 flex-centered-768">
          <div class="container">
            <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-6 text-left s-10">
              <h2 class="color-white heading-lg">Customize your Content</h2>
              <p class="color-white">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control qt-carousel-control" href="#myCarousel3_1a80" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left carousel-control-white" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control qt-carousel-control" href="#myCarousel3_1a80" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right carousel-control-white" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- /.carousel -->
</sectioncontainer>
