<header class="navbar-fixed-top header" id="tccp_navbar_show" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".my-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand">中恒联保</a>
    </div>

    <nav id="my-navbar" class="my-navbar collapse navbar-collapse">
      <ul class="nav navbar-nav  navbar-right " id="qt-nav-container">
        <li id="qt-nav-item_home" class="qt-nav-item">
          <a href="#section-home">首页</a>
        </li>
        <li id="qt-nav-item_about_us" class="qt-nav-item">
          <a href="#section-about_us">关于我们</a>
        </li>
        <li id="qt-nav-item_team" class="qt-nav-item">
          <a href="#section-team">团队</a>
        </li>
        <li id="qt-nav-item_services" class="qt-nav-item">
          <a href="#section-services">服务</a>
        </li>
        <li id="qt-nav-item_portfolio" class="qt-nav-item">
          <a href="#section-portfolio">作品</a>
        </li>
        <li id="qt-nav-item_pricing" class="qt-nav-item">
          <a href="#section-pricing">价格</a>
        </li>
        <li id="qt-nav-item_contact" class="qt-nav-item">
          <a href="#section-contact">联系我们</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
