<sectioncontainer id="section-portfolio" class="qt-section">
  <!-- Portfolio start -->
  <section id="qt-portfolio" class="qt-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-hexagon-sm">
            <i class="fa fa-pencil"></i>
          </span>
          <h2 class="">合作伙伴 / 作品展示</h2>
          <hr class="half-rule">
          <span class="title-desc">Consectetur ante aliquet in. Proin sed fringilla arcu aliquam.</span>
        </div>
      </div>
      <!-- Title row end -->

      <!--Isotope filter start -->
      <div class="row text-center">
        <div class="isotope-nav" data-isotope-nav="isotope">
          <ul>
            <li>
              <a href="#" class="active" data-filter="*">All</a>
            </li>
            <li>
              <a href="#" data-filter=".David_Smith">David Smith</a>
            </li>
            <li>
              <a href="#" data-filter=".John_Taylor">John Taylor</a>
            </li>
            <li>
              <a href="#" data-filter=".Mike_Williams">Mike Williams</a>
            </li>
            <li>
              <a href="#" data-filter=".Mary_Adams">Mary Adams</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Isotope filter end -->

      <div class="row">
        <div id="isotope" class="isotope">
          <div class="col-sm-3 David_Smith isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_876,c_scale/x_152,y_0,w_1100,h_850,c_crop/v1459372865/s7zv2xff6xjzyl6zlttj.jpg" alt="">
                <figcaption>
                  <h3>Computers</h3>
                  <a data-toggle="modal" href="#qtModal-1_dd5a1" class="link icon-hexagon-sm">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_876,c_scale/x_152,y_0,w_1100,h_850,c_crop/v1459372865/s7zv2xff6xjzyl6zlttj.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->

          <div class="col-sm-3 John_Taylor isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_1050,c_scale/x_39,y_17,w_1300,h_1000,c_crop/v1459372789/d6vdz9pdr3w7mhzgq0zt.jpg" alt="">
                <figcaption>
                  <h3>Personal Style</h3>
                  <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-2_dd5a2">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_1050,c_scale/x_39,y_17,w_1300,h_1000,c_crop/v1459372789/d6vdz9pdr3w7mhzgq0zt.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->

          <div class="col-sm-3 Mike_Williams isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_128,y_8,w_1100,h_850,c_crop/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="">
                <figcaption>
                  <h3>Watches</h3>
                  <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-3_dd5a3">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_128,y_8,w_1100,h_850,c_crop/v1459372962/tbkqrcysrt7nxnjvygvc.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->

          <div class="col-sm-3 Mary_Adams isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_935,c_scale/x_243,y_83,w_1100,h_850,c_crop/v1459372732/v4c56idjsxnakfxt9olm.jpg" alt="">
                <figcaption>
                  <h3>Books</h3>
                  <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-4_dd5a4">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_935,c_scale/x_243,y_83,w_1100,h_850,c_crop/v1459372732/v4c56idjsxnakfxt9olm.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->

          <div class="col-sm-3 Mike_Williams isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_921,c_scale/x_327,y_69,w_1065,h_826,c_crop/v1459373074/pm8q74b6pdsvb7cdl6fw.jpg" alt="">
                <figcaption>
                  <h3>Accessories</h3>
                  <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-5_dd5a5">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_921,c_scale/x_327,y_69,w_1065,h_826,c_crop/v1459373074/pm8q74b6pdsvb7cdl6fw.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->

          <div class="col-sm-3 John_Taylor isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_42,y_27,w_1100,h_850,c_crop/v1459372805/ggjefetv8wsdpnp1iahu.jpg" alt="">
                <figcaption>
                  <h3>Outdoors Tech</h3>
                  <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-6_dd5a6">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_42,y_27,w_1100,h_850,c_crop/v1459372805/ggjefetv8wsdpnp1iahu.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->

          <div class="col-sm-3 John_Taylor isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_39,y_0,w_1100,h_850,c_crop/v1459372762/mo7ymurwr5h14mhosiun.jpg" alt="">
                <figcaption>
                  <h3>Calligraphy</h3>
                  <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-7_dd5a7">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_39,y_0,w_1100,h_850,c_crop/v1459372762/mo7ymurwr5h14mhosiun.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->

          <div class="col-sm-3 John_Taylor isotope-item">
            <div class="grid">
              <figure class="effect-oscar">
                <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_0,y_83,w_1100,h_850,c_crop/v1459372771/npvnxvgm41sp0zmbcdbq.jpg" alt="">
                <figcaption>
                  <h3>Photography</h3>
                  <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-8_dd5a8">
                    <i class="fa fa-link"></i>
                  </a>
                  <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_0,y_83,w_1100,h_850,c_crop/v1459372771/npvnxvgm41sp0zmbcdbq.jpg">
                    <i class="fa fa-search"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Isotope item end -->
        </div>
        <!-- Isotope content end -->
      </div>
      <!-- Content row end -->
    </div>
    <!-- Container end -->
  </section>
  <!-- Portfolio end -->

  <!-- //////////////////////////////
MODAL1-START
//////////////////////////////-->
  <div id="qtModal-1_dd5a1" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->

  <!-- //////////////////////////////
MODAL2-START
//////////////////////////////-->
  <div id="qtModal-2_dd5a2" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->

  <!-- //////////////////////////////
MODAL3-START
//////////////////////////////-->
  <div id="qtModal-3_dd5a3" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->

  <!-- //////////////////////////////
MODAL4-START
//////////////////////////////-->
  <div id="qtModal-4_dd5a4" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->

  <!-- //////////////////////////////
MODAL5-START
//////////////////////////////-->
  <div id="qtModal-5_dd5a5" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->

  <!-- //////////////////////////////
MODAL6-START
//////////////////////////////-->
  <div id="qtModal-6_dd5a6" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->

  <!-- //////////////////////////////
MODAL7-START
//////////////////////////////-->
  <div id="qtModal-7_dd5a7" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->

  <!-- //////////////////////////////
MODAL8-START
//////////////////////////////-->
  <div id="qtModal-8_dd5a8" class="qt-modal modal">
    <div class="modal-dialog qt-modal-dialog">
      <!--modal-dialog-->
      <div class="modal-content qt-modal-content">
        <!--modal-content-->

        <div class="">
          <div id="banner-area">
            <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
            <div class="bg-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
              <div class="text-center">
                <h2>Portfolio Details</h2>
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
            </div>
            <!-- Subpage title end -->
          </div>
          <section id="portfolio-item">
            <div class="container">
              <!-- Portfolio item row start -->
              <div class="row">
                <!-- Portfolio item slider start -->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="portfolio-slider">
                    <div class="flexportfolio flexslider">
                      <ul class="slides">
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                      </ul>
                      <ul class="flex-direction-nav">
                        <li>
                          <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li>
                          <a class="flex-next" href="#">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Portfolio item slider end -->

                <!-- sidebar start -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="sidebar">
                    <div class="portfolio-desc">
                      <h3>About Project</h3>
                      <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                      </p>
                      <br>
                      <h3>Used Skills</h3>
                      <p>Excel, Word, Powerpoint</p>
                      <br>
                      <h3>Clients</h3>
                      <p>Business Pro</p>
                      <p>
                        <a href="#" class="project-btn btn btn-base">Project Link</a>
                      </p>
                      <p>
                        <a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- sidebar end -->
              </div>
              <!-- Portfolio item row end -->
            </div>
            <!-- Container end -->
          </section>
          <div class="gap-40"></div>
          <section id="footer" class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a>
                  </p>
                  <div class="gap-20"></div>
                </div>
              </div>
              <!--/ Row end -->

            </div>
            <!--/ Container end -->
          </section>

        </div>
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-end-->
  <!-- //////////////////////////////
MODAL-END
//////////////////////////////-->
</sectioncontainer>
