<sectioncontainer id="section-services" class="qt-section">
  <!-- Service box start -->
  <section id="qt-service" class="qt-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-hexagon-sm">
            <i class="fa fa-cogs"></i>
          </span>
          <h2 class="">提供服务</h2>
          <hr class="half-rule">
          <span class="title-desc">nulla vitae dui tempor venenatis
          </span>
        </div>
      </div>
      <!-- Title row end -->
      <div class="gap-40"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon">
                <i class="fa fa-picture-o"></i>
              </span>
              <h3>Image Hosting</h3>
              <p>Morbi ut neque efficitur diam vulputate convallis. Phasellus nec nulla nec nisl placerat molestie.</p>
            </div>
          </div>
          <!--/ End first service -->

          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon">
                <i class="fa fa-code"></i>
              </span>
              <h3>Editable Code</h3>
              <p>Mauris laoreet enim ornare dolor laoreet pharetra. Aenean enim ornare</p>
            </div>

          </div>
          <!--/ End Second service -->

          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon">
                <i class="fa fa-compress"></i>
              </span>
              <h3>Responsive</h3>
              <p>Nulla dictum neque ac tellus malesu sodales. Aenean mattis elit ac augue elementum.</p>
            </div>
          </div>
          <!--/ End Third service -->

          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon">
                <i class="fa fa-cloud-download"></i>
              </span>
              <h3>Cloud Download</h3>
              <p>c imperdiet odio vulputate. Fusce tellus malesu diam vulputate convallis feugiat porta leo, sed.</p>
            </div>
          </div>
          <!--/ End 4th service -->
        </div>
      </div>
      <!-- Content row end -->
    </div>
    <!--/ Container end -->
  </section>
  <!--/ Service box end -->
  <!-- Testimonial start-->
  <section class="qt-testimonial-heading-carousel bg-1 bg-cover">
    <div class="bg-overlay2"></div>
    <div class="container">
      <div class="row">
        <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
          <div class="item">
            <div class="testimonial-thumb">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/v1459386437/puzkifyhnvpkwi3a86gq.jpg" alt="testimonial">
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed
                to using.
              </p>
              <h3 class="name">Julie Boardman<span>Chief Executive</span>
              </h3>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-thumb">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/v1459386456/ez1ym3oojj2t78qcqyfx.jpg" alt="testimonial">
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed
                to using.
              </p>
              <h3 class="name">Barry Golding<span>Senior Project Manager</span>
              </h3>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-thumb">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/v1459386468/npjxpmxbtv7e0htuuvb8.jpg" alt="testimonial">
            </div>
            <div class="testimonial-content">
              <p class="testimonial-text">
                Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed
                to using.
              </p>
              <h3 class="name">Kate Taylor<span>Project Manager</span>
              </h3>
            </div>
          </div>
        </div>
        <!--/ Testimonial carousel end-->
      </div>
      <!--/ Row end-->
    </div>
    <!--/  Container end-->
  </section>
  <!--/ Testimonial end-->
</sectioncontainer>
