<sectioncontainer id="section-team" class="qt-section">
  <div class="qt qt-featurette">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="icon-hexagon-sm">
            <i class="fa fa-users"></i>
          </span>
          <h2 class="">团队介绍</h2>
          <hr class="half-rule">
          <span class="title-desc">团队成员拥有各自领域的多年从业经验</span>
          <div class="gap-40"></div>
        </div>
      </div>
      <div class="gap-40"></div>
      <div class="row">
        <div class="col-md-4 s-40 text-center">
          <div class="s-border-0">
            <img src="http://res.cloudinary.com/quickthemes/image/upload/v1457473668/cz4yjxnc6wyndyypxgpc.jpg" alt="" class="img-responsive image-100">
            <img class="img-circle center-block slide-up-40" src="http://res.cloudinary.com/quickthemes/image/upload/w_960,h_640,c_scale/x_196,y_17,w_598,h_598,c_crop/v1457144395/v9azj8xupgydwdcmy6lu.jpg" alt="" width="95" height="95">
            <h4>Henry Bryan</h4>
            <hr class="half-rule">
            <p class="mw-90pc">Maecenas quis iaculis magna, id dignissim ipsum. Maecenas a mi eget turpis pulvinar blandit. Vestibulum rutrum mi sed tellus pulvinar, scelerisque interdum erat interdum.</p>
            <a class="btn btn-base">More Info</a>
            <br>
            <br>
          </div>
        </div>
        <div class="col-md-4 s-40 text-center">
          <div class="s-border-0">
            <img src="http://res.cloudinary.com/quickthemes/image/upload/v1457473673/zubyv1g8cel39qxewxdu.jpg" alt="" class="img-responsive image-100">
            <img class="img-circle center-block slide-up-40" src="http://res.cloudinary.com/quickthemes/image/upload/w_480,h_720,c_scale/x_2,y_3,w_478,h_488,c_crop/v1457144406/jmcq8axoxkkq8f21v745.jpg" alt="" width="95" height="95">
            <h4>Yvonne Barton</h4>
            <hr class="half-rule">
            <p class="mw-90pc">Sed sit amet neque aliquet, porta orci sed, venenatis ex. In hac habitasse platea dictumst. Praesent facilisis rutrum magna vitae pulvinar. Maecenas sit amet est quis.</p>
            <a class="btn btn-base">More Info</a>
            <br>
            <br>
          </div>
        </div>
        <div class="col-md-4 s-40 text-center">
          <div class="s-border-0 ">
            <img src="http://res.cloudinary.com/quickthemes/image/upload/v1457473677/npucplxcqznmmgswsvxo.jpg" alt="" class="img-responsive image-100">
            <img class="img-circle center-block slide-up-40" src="http://res.cloudinary.com/quickthemes/image/upload/v1457144413/lavas4huu7mo4nof9noz.jpg" alt="" width="95" height="90">
            <h4>Gary Wilkins</h4>
            <hr class="half-rule">
            <p class="mw-90pc">Vivamus laoreet luctus massa, sed posuere nibh tincidunt eget. Nulla mollis massa non tortor tincidunt vestibulum. Maecenas molestie turpis id erat fermentum semper.</p>
            <a class="btn btn-base">More Info</a>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="qt qt-featurette">
    <div class="container">
      <h1 class="heading-md text-center">更多信息</h1>
      <hr class="half-rule">
      <p class="text-center">
        <span>Double-click</span>
        or
        <span>Ctrl + B</span>
        on any part to open its code block. Get started with our pre-built blocksor add custom sections, code blocks, image, attachment files and file snippets.
        <a>Ctrl + Shift toggles the edit column</a>
      </p>
      <div class="gap-40"></div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="">Heading One</h2>
          <hr class="half-rule half-rule-l">
          <p class="">Sed finibus facilisis eros, sed lobortis ligula. Sed at vestibulum sem. Donec nec consectetur sem, quis tincidunt sapien. Quisque venenatis leo dolor, at semper justo fringilla sed. In ut pretium dui. Mauris sem ante, feugiat vitae varius
            vitae, faucibus sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit dui.
            Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
        </div>
        <div class="col-md-6">
          <h2 class="">Heading Two</h2>
          <hr class="half-rule half-rule-l">
          <p class="">Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit
            elit condimentum. Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim justo, eu varius sem convallis at. Aliquam feugiat hendrerit sollicitudin. Vivamus dignissim erat eget ex egestas, ut vehicula sapien aliquam.
            Suspendisse sed magna sit amet nisl condimentum fringilla. Proin ac mauris interdum odio consequat aliquam at quis diam. Mauris venenatis tellus id augue aliquam ullamcorper. Vestibulum vulputate sapien ligula, a suscipit ipsum luctus eu. Nam cursus
            gravida sem, quis faucibus erat posuere nec.</p>
        </div>
        <div class="col-md-6">
          <h2 class="">Heading Three</h2>
          <hr class="half-rule half-rule-l">
          <p class="">Pellentesque porta turpis a blandit dictum. Maecenas ullamcorper felis vitae blandit scelerisque. Aenean quis diam urna. In urna nibh, eleifend at nibh eu, dapibus porta arcu. In a est imperdiet, laoreet urna id, elementum neque.</p>
        </div>
        <div class="col-md-6">
          <h2 class="">Heading Four</h2>
          <hr class="half-rule half-rule-l">
          <p class="">Nullam lobortis condimentum velit, vitae tincidunt ipsum accumsan et. Aenean metus purus, consectetur eu volutpat non, dignissim non nibh. Nulla commodo varius sollicitudin. Vivamus mollis a dolor nec.</p>
        </div>
      </div>
    </div>
  </div>
</sectioncontainer>
