<header class="navbar-fixed-top header" id="tccp_navbar_show" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".my-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> <a href="" class="navbar-brand">Business Pro</a>
    </div>

    <nav id="my-navbar" class="my-navbar collapse navbar-collapse">
      <ul class="nav navbar-nav  navbar-right " id="qt-nav-container">
        <li id="qt-nav-item_863" class="qt-nav-item">
          <a href="#qt-section_863">Home</a>
        </li>
        <li id="qt-nav-item_864" class="qt-nav-item">
          <a href="#qt-section_864">About Us</a>
        </li>
        <li id="qt-nav-item_865" class="qt-nav-item">
          <a href="#qt-section_865">Team</a>
        </li>
        <li id="qt-nav-item_866" class="qt-nav-item">
          <a href="#qt-section_866">Services</a>
        </li>
        <li id="qt-nav-item_867" class="qt-nav-item">
          <a href="#qt-section_867">Portfolio</a>
        </li>
        <li id="qt-nav-item_868" class="qt-nav-item">
          <a href="#qt-section_868">Pricing</a>
        </li>
        <li id="qt-nav-item_869" class="qt-nav-item">
          <a href="#qt-section_869">Gallery</a>
        </li>
        <li id="qt-nav-item_870" class="qt-nav-item">
          <a href="#qt-section_870">Contact</a>
        </li>
       </ul>
    </nav>
  </div>
</header>

  <sectioncontainer id="qt-section_863" class="qt-section ">
          <!-- Carousel
    ================================================== -->
<div id="myCarousel3_1a80" class="carousel carousel-800 slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators carousel-indicators-round">
    <li data-target="#myCarousel3_1a80" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel3_1a80" data-slide-to="1"></li>
    <li data-target="#myCarousel3_1a80" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner item1" role="listbox">
    <div class="item active">
       <div class="bg-overlay"></div>
      <div class="qt qt-carousel carousel-800 bg-cover bg-2 flex-centered-768">
        <div class="container ">
          <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-6 text-left s-10">
            <h2 class="color-white heading-lg">Business Pro Theme</h2>
            <p class="color-white">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
        <div class="bg-overlay"></div>
      <div class="qt qt-carousel carousel-800 bg-cover bg-3 flex-centered-768">
        <div class="container">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-6 text-left s-10">
            <h2 class="color-white heading-lg">Feature Packed Theme</h2>
            <p class="color-white">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
        <div class="bg-overlay"></div>
      <div class="qt qt-carousel carousel-800 bg-cover bg-4 flex-centered-768">
        <div class="container">
          <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-6 text-left s-10">
            <h2 class="color-white heading-lg">Customize your Content</h2>
            <p class="color-white">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control qt-carousel-control" href="#myCarousel3_1a80" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left carousel-control-white" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control qt-carousel-control" href="#myCarousel3_1a80" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right carousel-control-white" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /.carousel -->
  </sectioncontainer>
  <sectioncontainer id="qt-section_864" class="qt-section ">
          <!-- About tab start -->
<section id="qt-about" class="qt-about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="icon-hexagon-sm"><i class="fa fa-users"></i></span>
        <h2 class="">About Us</h2>
        <hr class="half-rule">
        <span class="title-desc">A Quality Experience Team with 4 years experience</span>
        <div class="gap-40"></div>
      </div>
    </div>
    <!-- Title row end-->

    <div class="row">
      <div class="col-md-12">
        <p class="">Sed finibus facilisis eros, sed lobortis ligula. Sed at vestibulum sem. Donec nec consectetur sem, quis tincidunt sapien. Quisque venenatis leo dolor, at semper justo fringilla sed. In ut pretium dui. Mauris sem ante, feugiat vitae varius vitae,
          faucibus sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit dui. Vestibulum
          condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
      </div>
      <div class="landing-tab clearfix">
        <ul class="nav nav-tabs nav-stacked col-md-3 col-sm-5">
          <li class="active">
            <a class="" href="#tab_a1" data-toggle="tab">
              <span class="tab-icon"><i class="fa fa-users"></i></span>
              <div class="tab-info">
                <h3>Who Are We</h3>
              </div>
            </a>
          </li>
          <li>
            <a class="" href="#tab_b1" data-toggle="tab">
              <span class="tab-icon"><i class="fa fa-briefcase"></i></span>
              <div class="tab-info">
                <h3>Our Company</h3>
              </div>
            </a>
          </li>
          <li>
            <a class="" href="#tab_c1" data-toggle="tab">
              <span class="tab-icon"><i class="fa fa-laptop"></i></span>
              <div class="tab-info">
                <h3>What We Do</h3>
              </div>
            </a>
          </li>
          <li>
            <a class="" href="#tab_d1" data-toggle="tab">
              <span class="tab-icon"><i class="fa fa-university"></i></span>
              <div class="tab-info">
                <h3>Learning</h3>
              </div>
            </a>
          </li>
          <li>
            <a class="" href="#tab_e1" data-toggle="tab">
              <span class="tab-icon"><i class="fa fa-trophy"></i></span>
              <div class="tab-info">
                <h3>Accolades</h3>
              </div>
            </a>
          </li>
        </ul>
        <div class="tab-content col-md-9 col-sm-7">
          <div class="tab-pane active" id="tab_a1">

            <p class="">Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit elit
              condimentum. Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim justo, eu varius sem convallis at. Aliquam feugiat hendrerit sollicitudin. Vivamus dignissim erat eget ex egestas, ut vehicula sapien aliquam.
              Suspendisse sed magna sit amet nisl condimentum fringilla.</p>
          </div>
          <div class="tab-pane" id="tab_b1">
            <p class="">Pellentesque porta turpis a blandit dictum. Maecenas ullamcorper felis vitae blandit scelerisque. Aenean quis diam urna. In urna nibh, eleifend at nibh eu, dapibus porta arcu. In a est imperdiet, laoreet urna id, elementum neque. Donec ultrices
              facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit elit condimentum. Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim justo,
              eu varius sem convallis at.</p>
          </div>
          <div class="tab-pane" id="tab_c1">
            <p class="">Sed finibus facilisis eros, sed lobortis ligula. Sed at vestibulum sem. Donec nec consectetur sem, quis tincidunt sapien. Quisque venenatis leo dolor, at semper justo fringilla sed. In ut pretium dui. Mauris sem ante, feugiat vitae varius
              vitae, faucibus sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit
              dui. Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
          </div>
          <div class="tab-pane" id="tab_d1">
            <p class="">Aenean quis diam urna. In urna nibh, eleifend at nibh eu, dapibus porta arcu. In a est imperdiet, laoreet urna id, elementum neque. Donec ultrices
              facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit elit condimentum. Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim justo,
              eu varius sem convallis at
              dui. Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
          </div>
          <div class="tab-pane" id="tab_e1">
            <p class="">Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi. faucibus sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit
              dui. Vestibulum condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
          </div>
        </div>
        <!-- tab content -->
      </div>
      <!-- Overview tab end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!-- Container end -->
</section>
<!-- About end -->
          <!-- Counter Strat -->
  <section class="qt-counter-container bg-2 bg-cover">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-user"></i>
            <div class="facts-num">
              <span class="counter">1345</span>
            </div>
            <h3>Clients</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-send"></i>
            <div class="facts-num">
              <span class="counter">2473</span>
            </div>
            <h3>Sales</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-suitcase"></i>
            <div class="facts-num">
              <span class="counter">149</span>
            </div>
            <h3>Projects</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="facts text-center">
            <i class="fa fa-trophy"></i>
            <div class="facts-num">
              <span class="counter">22</span>
            </div>
            <h3>Awards</h3>
          </div>
        </div>
      </div>
    </div><!--/ Container end -->
    </section><!--/ Counter end -->
          <!-- Clients start -->
  <section id="qt-testimonial" class="qt-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-hexagon-sm"><i class="fa fa-pencil"></i></span>
          <h2 class="title2">Client Testimonials</h2>
          <hr class="half-rule">
          <span class="title-desc">Consectetur ante aliquet in. Proin sed fringilla arcu aliquam.</span>
        </div>
      </div> <!-- Title row end -->
            <div class="gap-20"></div>
      <div class="row">
            <div class="col-md-4">
                <div class="testimonial-col-content">
                  <div class="testimonial-text-item">
                    <p class="testimonial-text">
                      Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit.
                    </p>
                </div>
                <div class="testimonial-info">
                  <img class="testimonial-thumb" src="http://res.cloudinary.com/quickthemes/image/upload/w_960,h_640,c_scale/x_196,y_17,w_598,h_598,c_crop/v1457144395/v9azj8xupgydwdcmy6lu.jpg" alt="testimonial">
                    <span class="testimonial-author">Richard Wright</span>
                    <span class="testimonial-author-desg">CIO</span>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="testimonial-col-content">
                  <div class="testimonial-text-item">
                    <p class="testimonial-text">
                      Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit.
                    </p>
                </div>
                <div class="testimonial-info">
                  <img class="testimonial-thumb" src="http://res.cloudinary.com/quickthemes/image/upload/w_480,h_720,c_scale/x_2,y_3,w_478,h_488,c_crop/v1457144406/jmcq8axoxkkq8f21v745.jpg" alt="testimonial">
                    <span class="testimonial-author">Michelle Davis</span>
                    <span class="testimonial-author-desg">Managing Director</span>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="testimonial-col-content">
                  <div class="testimonial-text-item">
                    <p class="testimonial-text">
                      Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit.
                    </p>
                </div>
                <div class="testimonial-info">
                  <img class="testimonial-thumb" src="http://res.cloudinary.com/quickthemes/image/upload/v1457144413/lavas4huu7mo4nof9noz.jpg" alt="testimonial">
                    <span class="testimonial-author">Roger Simons</span>
                    <span class="testimonial-author-desg">Charman of the Board</span>
                  </div>
                </div>
            </div>

        </div><!--/ Main row end -->
    </div><!--/ Container end -->
  </section><!--/ Clients end -->
          <section id="qt-newsletter" class="qt-newsletter bg-2 bg-cover">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <h2 class="title2">Subscribe</h2>
          <hr class="half-rule">
            <span class="title-desc">Sign up to our newsletter</span>
            <div class="gap-20"></div>

        </div>
        </div><!--/ Title row end -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
          <form action="#" method="post" id="newsletter-form" class="newsletter-form " data-wow-duration=".8s" style="visibility: visible;">
            <div class="form-group">
              <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Enter your email" autocomplete="off">
              <button class="btn btn-base">Subscribe</button>
            </div>
          </form>
        </div>
      </div><!--/ Content row end -->
    </div><!--/ Container end -->
  </section>
  </sectioncontainer>
  <sectioncontainer id="qt-section_865" class="qt-section ">
          <div class="qt qt-featurette">
<div class="container text-center">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="icon-hexagon-sm"><i class="fa fa-users"></i></span>
        <h2 class="">Our Team</h2>
        <hr class="half-rule">
        <span class="title-desc">A Quality Experience Team with 4 years experience</span>
        <div class="gap-40"></div>
      </div>
  </div>
  <div class="gap-40"></div>
  <div class="row">
    <div class="col-md-4 s-40 text-center">
      <div class="s-border-0">
        <img src="http://res.cloudinary.com/quickthemes/image/upload/v1457473668/cz4yjxnc6wyndyypxgpc.jpg" alt="" class="img-responsive image-100">
        <img class="img-circle center-block slide-up-40" src="http://res.cloudinary.com/quickthemes/image/upload/w_960,h_640,c_scale/x_196,y_17,w_598,h_598,c_crop/v1457144395/v9azj8xupgydwdcmy6lu.jpg" alt="" width="95" height="95">
        <h4>Henry Bryan</h4>
        <hr class="half-rule">
        <p class="mw-90pc">Maecenas quis iaculis magna, id dignissim ipsum. Maecenas a mi eget turpis pulvinar blandit. Vestibulum rutrum mi sed tellus pulvinar, scelerisque interdum erat interdum.</p>
        <a class="btn btn-base">More Info</a>
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-4 s-40 text-center">
      <div class="s-border-0">
        <img src="http://res.cloudinary.com/quickthemes/image/upload/v1457473673/zubyv1g8cel39qxewxdu.jpg" alt="" class="img-responsive image-100">
        <img class="img-circle center-block slide-up-40" src="http://res.cloudinary.com/quickthemes/image/upload/w_480,h_720,c_scale/x_2,y_3,w_478,h_488,c_crop/v1457144406/jmcq8axoxkkq8f21v745.jpg" alt="" width="95" height="95">
        <h4>Yvonne Barton</h4>
        <hr class="half-rule">
        <p class="mw-90pc">Sed sit amet neque aliquet, porta orci sed, venenatis ex. In hac habitasse platea dictumst. Praesent facilisis rutrum magna vitae pulvinar. Maecenas sit amet est quis.</p>
        <a class="btn btn-base">More Info</a>
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-4 s-40 text-center">
      <div class="s-border-0 ">
        <img src="http://res.cloudinary.com/quickthemes/image/upload/v1457473677/npucplxcqznmmgswsvxo.jpg" alt="" class="img-responsive image-100">
        <img class="img-circle center-block slide-up-40" src="http://res.cloudinary.com/quickthemes/image/upload/v1457144413/lavas4huu7mo4nof9noz.jpg" alt="" width="95" height="90">
        <h4>Gary Wilkins</h4>
        <hr class="half-rule">
        <p class="mw-90pc">Vivamus laoreet luctus massa, sed posuere nibh tincidunt eget. Nulla mollis massa non tortor tincidunt vestibulum. Maecenas molestie turpis id erat fermentum semper.</p>
        <a class="btn btn-base">More Info</a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
          <div class="qt qt-featurette">
  <div class="container">
       <h1 class="heading-md text-center">Info</h1>
    <hr class="half-rule">
    <p class="text-center"><span>Double-click</span> or <span>Ctrl + B</span> on any part to open its code block. Get started with our pre-built blocksor add custom sections, code blocks, image, attachment files and file snippets. <a>Ctrl + Shift toggles the edit column</a></p>
   <div class="gap-40"></div>
   <div class="row">
      <div class="col-md-12">
        <h2 class="">Heading One</h2>
        <hr class="half-rule half-rule-l">
        <p class="">Sed finibus facilisis eros, sed lobortis ligula. Sed at vestibulum sem. Donec nec consectetur sem, quis tincidunt sapien. Quisque venenatis leo dolor, at semper justo fringilla sed. In ut pretium dui. Mauris sem ante, feugiat vitae varius vitae,
          faucibus sed diam. Phasellus nec gravida nibh, a hendrerit risus. Duis non sagittis sem, vel pulvinar enim. Sed sollicitudin quam nisi, vel eleifend sem accumsan vel. Aenean id urna eleifend felis convallis dignissim. Cras non blandit dui. Vestibulum
          condimentum purus vel eros sagittis porta. Vestibulum quis tellus maximus, gravida urna quis, efficitur ipsum. Curabitur fermentum metus a sodales egestas. Cras ex sapien, elementum et porttitor ut, pretium eu nisi.</p>
      </div>
      <div class="col-md-6">
        <h2 class="">Heading Two</h2>
        <hr class="half-rule half-rule-l">
        <p class="">Donec dapibus purus eros, id vulputate metus auctor sit amet. Cras in convallis dui. Donec ultrices facilisis posuere. In nibh metus, placerat eu sem in, placerat pulvinar turpis. Quisque feugiat mi eget arcu condimentum, quis hendrerit elit condimentum.
          Proin gravida faucibus risus, et porta nibh fringilla eget. Sed dictum dignissim justo, eu varius sem convallis at. Aliquam feugiat hendrerit sollicitudin. Vivamus dignissim erat eget ex egestas, ut vehicula sapien aliquam. Suspendisse sed magna
          sit amet nisl condimentum fringilla. Proin ac mauris interdum odio consequat aliquam at quis diam. Mauris venenatis tellus id augue aliquam ullamcorper. Vestibulum vulputate sapien ligula, a suscipit ipsum luctus eu. Nam cursus gravida sem,
          quis faucibus erat posuere nec.</p>
      </div>
      <div class="col-md-6">
        <h2 class="">Heading Three</h2>
        <hr class="half-rule half-rule-l">
        <p class="">Pellentesque porta turpis a blandit dictum. Maecenas ullamcorper felis vitae blandit scelerisque. Aenean quis diam urna. In urna nibh, eleifend at nibh eu, dapibus porta arcu. In a est imperdiet, laoreet urna id, elementum neque.</p>
      </div>
      <div class="col-md-6">
        <h2 class="">Heading Four</h2>
        <hr class="half-rule half-rule-l">
        <p class="">Nullam lobortis condimentum velit, vitae tincidunt ipsum accumsan et. Aenean metus purus, consectetur eu volutpat non, dignissim non nibh. Nulla commodo varius sollicitudin. Vivamus mollis a dolor nec.</p>
      </div>
    </div>
  </div>
</div>
  </sectioncontainer>
  <sectioncontainer id="qt-section_866" class="qt-section ">
          <!-- Service box start -->
  <section id="qt-service" class="qt-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-hexagon-sm"><i class="fa fa-cogs"></i></span>
          <h2 class="">Our Services</h2>
          <hr class="half-rule">
          <span class="title-desc">nulla vitae dui tempor venenatis </span>
        </div>
      </div><!-- Title row end -->
            <div class="gap-40"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon"><i class="fa fa-picture-o"></i></span>
              <h3>Image Hosting</h3>
              <p>Morbi ut neque efficitur diam vulputate convallis. Phasellus nec nulla nec nisl placerat molestie.</p>
            </div>
          </div><!--/ End first service -->

          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon"><i class="fa fa-code"></i></span>
              <h3>Editable Code</h3>
              <p>Mauris laoreet enim ornare dolor laoreet pharetra. Aenean enim ornare</p>
            </div>

          </div><!--/ End Second service -->

          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon"><i class="fa fa-compress"></i></span>
              <h3>Responsive</h3>
              <p>Nulla dictum neque ac tellus malesu sodales. Aenean mattis elit ac augue elementum.</p>
            </div>
          </div><!--/ End Third service -->

          <div class="col-md-3 col-sm-3">
            <div class="service-content text-center">
              <span class="icon-hexagon"><i class="fa fa-cloud-download"></i></span>
              <h3>Cloud Download</h3>
              <p>c imperdiet odio vulputate. Fusce tellus malesu diam vulputate convallis feugiat porta leo, sed.</p>
            </div>
          </div><!--/ End 4th service -->
        </div>
      </div><!-- Content row end -->
    </div><!--/ Container end -->
  </section><!--/ Service box end -->
          <!-- Testimonial start-->
  <section class="qt-testimonial-heading-carousel bg-1 bg-cover">
    <div class="bg-overlay2"></div>
      <div class="container">
        <div class="row">
          <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
              <div class="item">
                  <div class="testimonial-thumb">
                    <img src="https://res.cloudinary.com/quickthemes/image/upload/v1459386437/puzkifyhnvpkwi3a86gq.jpg" alt="testimonial">
                  </div>
                  <div class="testimonial-content">
                    <p class="testimonial-text">
                      Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
                    </p>
                    <h3 class="name">Julie Boardman<span>Chief Executive</span></h3>
                  </div>
              </div>
              <div class="item">
                  <div class="testimonial-thumb">
                    <img src="https://res.cloudinary.com/quickthemes/image/upload/v1459386456/ez1ym3oojj2t78qcqyfx.jpg" alt="testimonial">
                  </div>
                <div class="testimonial-content">
                    <p class="testimonial-text">
                      Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
                    </p>
                    <h3 class="name">Barry Golding<span>Senior Project Manager</span></h3>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-thumb">
                    <img src="https://res.cloudinary.com/quickthemes/image/upload/v1459386468/npjxpmxbtv7e0htuuvb8.jpg" alt="testimonial">
                </div>
                  <div class="testimonial-content">
                    <p class="testimonial-text">
                      Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
                    </p>
                    <h3 class="name">Kate Taylor<span>Project Manager</span></h3>
                  </div>
              </div>
          </div><!--/ Testimonial carousel end-->
        </div><!--/ Row end-->
      </div><!--/  Container end-->
  </section><!--/ Testimonial end-->
  </sectioncontainer>
  <sectioncontainer id="qt-section_867" class="qt-section ">
          <!-- Portfolio start -->
<section id="qt-portfolio" class="qt-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading text-center">
        <span class="icon-hexagon-sm"><i class="fa fa-pencil"></i></span>
        <h2 class="">Our Work </h2>
        <hr class="half-rule">
        <span class="title-desc">Consectetur ante aliquet in. Proin sed fringilla arcu aliquam.</span>
      </div>
    </div>
    <!-- Title row end -->

    <!--Isotope filter start -->
    <div class="row text-center">
      <div class="isotope-nav" data-isotope-nav="isotope">
        <ul>
          <li><a href="#" class="active" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".David_Smith">David Smith</a></li>
          <li><a href="#" data-filter=".John_Taylor">John Taylor</a></li>
          <li><a href="#" data-filter=".Mike_Williams">Mike Williams</a></li>
          <li><a href="#" data-filter=".Mary_Adams">Mary Adams</a></li>
        </ul>
      </div>
    </div>
    <!-- Isotope filter end -->

    <div class="row">
      <div id="isotope" class="isotope">
        <div class="col-sm-3 David_Smith isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_876,c_scale/x_152,y_0,w_1100,h_850,c_crop/v1459372865/s7zv2xff6xjzyl6zlttj.jpg" alt="">
              <figcaption>
                <h3>Computers</h3>
                <a data-toggle="modal" href="#qtModal-1_dd5a1" class="link icon-hexagon-sm"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_876,c_scale/x_152,y_0,w_1100,h_850,c_crop/v1459372865/s7zv2xff6xjzyl6zlttj.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->

        <div class="col-sm-3 John_Taylor isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_1050,c_scale/x_39,y_17,w_1300,h_1000,c_crop/v1459372789/d6vdz9pdr3w7mhzgq0zt.jpg" alt="">
              <figcaption>
                <h3>Personal Style</h3>
                <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-2_dd5a2"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_1050,c_scale/x_39,y_17,w_1300,h_1000,c_crop/v1459372789/d6vdz9pdr3w7mhzgq0zt.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->

        <div class="col-sm-3 Mike_Williams isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_128,y_8,w_1100,h_850,c_crop/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="">
              <figcaption>
                <h3>Watches</h3>
                <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-3_dd5a3"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_128,y_8,w_1100,h_850,c_crop/v1459372962/tbkqrcysrt7nxnjvygvc.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->

        <div class="col-sm-3 Mary_Adams isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_935,c_scale/x_243,y_83,w_1100,h_850,c_crop/v1459372732/v4c56idjsxnakfxt9olm.jpg" alt="">
              <figcaption>
                <h3>Books</h3>
                <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-4_dd5a4"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_935,c_scale/x_243,y_83,w_1100,h_850,c_crop/v1459372732/v4c56idjsxnakfxt9olm.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->

        <div class="col-sm-3 Mike_Williams isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_921,c_scale/x_327,y_69,w_1065,h_826,c_crop/v1459373074/pm8q74b6pdsvb7cdl6fw.jpg" alt="">
              <figcaption>
                <h3>Accessories</h3>
                <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-5_dd5a5"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_921,c_scale/x_327,y_69,w_1065,h_826,c_crop/v1459373074/pm8q74b6pdsvb7cdl6fw.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->

        <div class="col-sm-3 John_Taylor isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_42,y_27,w_1100,h_850,c_crop/v1459372805/ggjefetv8wsdpnp1iahu.jpg" alt="">
              <figcaption>
                <h3>Outdoors Tech</h3>
                <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-6_dd5a6"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_42,y_27,w_1100,h_850,c_crop/v1459372805/ggjefetv8wsdpnp1iahu.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->

        <div class="col-sm-3 John_Taylor isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_39,y_0,w_1100,h_850,c_crop/v1459372762/mo7ymurwr5h14mhosiun.jpg" alt="">
              <figcaption>
                <h3>Calligraphy</h3>
                <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-7_dd5a7"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_39,y_0,w_1100,h_850,c_crop/v1459372762/mo7ymurwr5h14mhosiun.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->

        <div class="col-sm-3 John_Taylor isotope-item">
          <div class="grid">
            <figure class="effect-oscar">
              <img src="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_0,y_83,w_1100,h_850,c_crop/v1459372771/npvnxvgm41sp0zmbcdbq.jpg" alt="">
              <figcaption>
                <h3>Photography</h3>
                <a data-toggle="modal" class="link icon-hexagon-sm" href="#qtModal-8_dd5a8"><i class="fa fa-link"></i></a>
                <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/w_1400,h_933,c_scale/x_0,y_83,w_1100,h_850,c_crop/v1459372771/npvnxvgm41sp0zmbcdbq.jpg"><i class="fa fa-search"></i></a>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- Isotope item end -->
      </div>
      <!-- Isotope content end -->
    </div>
    <!-- Content row end -->
  </div>
  <!-- Container end -->
</section>
<!-- Portfolio end -->


<!-- //////////////////////////////
MODAL1-START
//////////////////////////////-->
<div id="qtModal-1_dd5a1" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->


<!-- //////////////////////////////
MODAL2-START
//////////////////////////////-->
<div id="qtModal-2_dd5a2" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->


<!-- //////////////////////////////
MODAL3-START
//////////////////////////////-->
<div id="qtModal-3_dd5a3" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->


<!-- //////////////////////////////
MODAL4-START
//////////////////////////////-->
<div id="qtModal-4_dd5a4" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->


<!-- //////////////////////////////
MODAL5-START
//////////////////////////////-->
<div id="qtModal-5_dd5a5" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->



<!-- //////////////////////////////
MODAL6-START
//////////////////////////////-->
<div id="qtModal-6_dd5a6" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->



<!-- //////////////////////////////
MODAL7-START
//////////////////////////////-->
<div id="qtModal-7_dd5a7" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->



<!-- //////////////////////////////
MODAL8-START
//////////////////////////////-->
<div id="qtModal-8_dd5a8" class="qt-modal modal">
  <div class="modal-dialog qt-modal-dialog">
    <!--modal-dialog-->
    <div class="modal-content qt-modal-content">
      <!--modal-content-->

      <div class="">
        <div id="banner-area">
          <img class="bg-100pc" src="https://res.cloudinary.com/quickthemes/image/upload/w_1300,h_867,c_scale/x_0,y_302,w_1300,h_423,c_crop/v1459373185/uxyqo5myibipisdbtvek.jpg" alt="">
          <div class="bg-overlay"></div>
          <!-- Subpage title start -->
          <div class="banner-title-content">
            <div class="text-center">
              <h2>Portfolio Details</h2>
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
          </div>
          <!-- Subpage title end -->
        </div>
        <section id="portfolio-item">
          <div class="container">
            <!-- Portfolio item row start -->
            <div class="row">
              <!-- Portfolio item slider start -->
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="portfolio-slider">
                  <div class="flexportfolio flexslider">
                    <ul class="slides">
                      <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;"><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="" draggable="false"></li>
                      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;" class=""><img src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="" draggable="false"></li>
                    </ul>
                    <ul class="flex-direction-nav">
                      <li><a class="flex-prev" href="#">Previous</a></li>
                      <li><a class="flex-next" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Portfolio item slider end -->

              <!-- sidebar start -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                  <div class="portfolio-desc">
                    <h3>About Project</h3>
                    <p>Suspendisse aliquet eros id volutpat hendrerit. Ut ipsum lectus, rhoncus eget enim ut, consectetur bibendum purus. Donec maximus turpis sed diam efficitur.
                    </p>
                    <br>
                    <h3>Used Skills</h3>
                    <p>Excel, Word, Powerpoint</p>
                    <br>
                    <h3>Clients</h3>
                    <p>Business Pro</p>
                    <p><a href="#" class="project-btn btn btn-base">Project Link</a></p>
                    <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base">Close Window</a></p>

                  </div>
                </div>
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Portfolio item row end -->
          </div>
          <!-- Container end -->
        </section>
        <div class="gap-40"></div>
        <section id="footer" class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p><a href="#" data-dismiss="modal" class="project-btn btn btn-base-alt">Close Window</a></p>
                <div class="gap-20"></div>
              </div>
            </div>
            <!--/ Row end -->

          </div>
          <!--/ Container end -->
        </section>


      </div>
    </div>
    <!--modal-content-->
  </div>
  <!--modal-dialog-->
</div>
<!--modal-end-->
<!-- //////////////////////////////
MODAL-END
//////////////////////////////-->
  </sectioncontainer>
  <sectioncontainer id="qt-section_868" class="qt-section ">
          <!-- Pricing table start -->
  <section id="qt-pricing" class="qt-pricing">
    <div class="container">
        <div class="row">
        <div class="col-md-12 pricing-heading text-center">
          <span class="icon-hexagon-sm"><i class="fa fa-university"></i></span>
          <h2 class="">Packages</h2>
          <hr class="half-rule half-rule-10">
          <span class="title-desc">Fusce feugiat porta leo, sed</span>
        </div>
        </div><!--/ Title row end -->
        <div class="row">
        <!-- plan start -->
        <div class="col-md-3 col-sm-6">
            <div class="plan text-center">
                <span class="plan-name">Basic <small>Monthly plan</small></span>
                <p class="plan-price"><sup class="currency">$</sup><strong>49</strong><sub>.99</sub></p>
                <ul class="list-unstyled">
                    <li>100GB Monthly Bandwidth</li>
                    <li>$100 Google AdWords</li>
                    <li>100 Domain Hosting</li>
                    <li>SSL Shopping Cart</li>
                    <li>24/7 Live Support</li>
                </ul>
                <a class="btn btn-base" href="#.">Sign Up</a>
            </div>
        </div><!-- plan end -->

        <!-- plan start -->
        <div class="col-md-3 col-sm-6">
            <div class="plan text-center">
                <span class="plan-name">Standard <small>Monthly plan</small></span>
                <p class="plan-price"><sup class="currency">$</sup><strong>99</strong><sub>.99</sub></p>
                <ul class="list-unstyled">
                    <li>100GB Monthly Bandwidth</li>
                    <li>$100 Google AdWords</li>
                    <li>100 Domain Hosting</li>
                    <li>SSL Shopping Cart</li>
                    <li>24/7 Live Support</li>
                </ul>
                <a class="btn btn-base" href="#.">Sign Up</a>
            </div>
        </div><!-- plan end -->

        <!-- plan start -->
        <div class="col-md-3 col-sm-6">
            <div class="plan text-center featured">
                <span class="plan-name">Professional <small>Monthly plan</small></span>
                <p class="plan-price"><sup class="currency">$</sup><strong>149</strong><sub>.99</sub></p>
                <ul class="list-unstyled">
                    <li>100GB Monthly Bandwidth</li>
                    <li>$100 Google AdWords</li>
                    <li>100 Domain Hosting</li>
                    <li>SSL Shopping Cart</li>
                    <li>24/7 Live Support</li>
                </ul>
                <a class="btn btn-base" href="#.">Sign Up</a>
            </div>
        </div><!-- plan end -->

        <!-- plan start -->
        <div class="col-md-3 col-sm-6">
            <div class="plan text-center">
                <span class="plan-name">Premium <small>Monthly plan</small></span>
                <p class="plan-price"><sup class="currency">$</sup><strong>399</strong><sub>.99</sub></p>
                <ul class="list-unstyled">
                    <li>100GB Monthly Bandwidth</li>
                    <li>$100 Google AdWords</li>
                    <li>100 Domain Hosting</li>
                    <li>SSL Shopping Cart</li>
                    <li>24/7 Live Support</li>
                </ul>
                <a class="btn btn-base" href="#.">Sign Up</a>
            </div>
        </div><!-- plan end -->
      </div><!--/ Content row end -->
    </div><!--/  Container end-->
  </section><!--/ Pricing table end -->
  </sectioncontainer>
  <sectioncontainer id="qt-section_869" class="qt-section ">
          <!-- Gallery start -->
  <section id="qt-gallery" class="qt-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="">Gallery</h2>
          <hr class="half-rule">
          <span class="title-desc">Fusce feugiat porta leo, sed.</span>
        </div>
        </div><!--/ Title row end -->
        <div class="gap-40"></div>
        <div id="app-gallery-carousel" class="col-sm-12 owl-carousel owl-theme text-center app-gallery">
            <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459373209/zkevaqhid2pjrzggti7v.jpg"><i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
           <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372962/tbkqrcysrt7nxnjvygvc.jpg"><i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
            <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372880/vnea9vytns6vh1rlpgqn.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372880/vnea9vytns6vh1rlpgqn.jpg"><i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
           <div class="grid">
          <figure class="effect-oscar item screenshot-img-wrapper">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372902/lqmnpjvavba4aueqqr4o.jpg"><i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
            <div class="grid">
          <figure class="effect-oscar item screenshot-img-wrapper">
            <img class="img-responsive" src="https://res.cloudinary.com/quickthemes/image/upload/v1459372732/v4c56idjsxnakfxt9olm.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459372732/v4c56idjsxnakfxt9olm.jpg"><i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
            <div class="grid">
          <figure class="effect-oscar item">
            <img class="img-responsive screenshot-img" src="https://res.cloudinary.com/quickthemes/image/upload/v1459373063/nwljtkhpxfalexcyx1rq.jpg" alt="">
            <figcaption>
              <a class="view icon-hexagon-sm" data-rel="prettyPhoto" href="https://res.cloudinary.com/quickthemes/image/upload/v1459373063/nwljtkhpxfalexcyx1rq.jpg"><i class="fa fa-search"></i></a>
            </figcaption>
          </figure>
        </div>
        </div><!-- App gallery end -->
    </div><!--/ Container end -->
  </section><!--/ gallery end -->
  </sectioncontainer>
  <sectioncontainer id="qt-section_870" class="qt-section ">
          <section id="qt-contact-container" class="qt-contact-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading text-center">
          <span class="icon-hexagon-sm"><i class="fa fa-fax"></i></span>
          <h2 class="">Contact Us</h2>
            <hr class="half-rule">
          <span class="title-desc">Fusce feugiat porta leo, sed</span>

        </div>
        </div><!--/ Title row end -->
        <div class="gap-40"></div>
      <div class="row">
        <!-- Map start here -->
        <div id="map-wrapper" class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 no-padding">
          <div class="map" id="map"></div>
        </div><!--/ Map end here -->

      </div><!-- Content row  end -->

      <div class="gap-40"></div>

      <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0">
            <form id="contact-form" action="contact-form.php" method="post" role="form">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Name</label>
                <input class="form-control" name="name" id="name" placeholder="" type="text" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" name="email" id="email"
                  placeholder="" type="email" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Subject</label>
                  <input class="form-control" name="subject" id="subject"
                  placeholder="" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control" name="message" id="message" placeholder="" rows="10" required></textarea>
            </div>
            <div class="text-right"><br>
              <button class="btn btn-lg btn-base" type="submit">Send Message</button>
            </div>
          </form>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0">
            <div class="contact-info">
              <h3>Contact Details</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget erat magna. Pellentesque justo ante</p>
              <br>
              <p><i class="fa fa-home info"></i>  732 Wright Street, Jackson, WY </p>
            <p><i class="fa fa-phone info"></i>  +(343) 223-3432 </p>
            <p><i class="fa fa-envelope-o info"></i>  support@qabcdef.com.com</p>
            <p><i class="fa fa-globe info"></i>  www.quickthemes.com</p>
            </div>
          </div>
        </div>

    </div><!--/ container end -->

  </section><!--/ Main container end -->
          <!-- Footer start -->
  <section id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="scl unstyled">
            <li>
              <a class="twt" title="Twitter" href="#">
                <span class="icon-hexagon-sm"><i class="fa fa-twitter"></i></span>
              </a>
              <a class="fb" title="Facebook" href="#">
                <span class="icon-hexagon-sm"><i class="fa fa-facebook"></i></span>
              </a>
              <a class="gplus" title="Google+" href="#">
                <span class="icon-hexagon-sm"><i class="fa fa-google-plus"></i></span>
              </a>
              <a class="linkdin" title="linkedin" href="#">
                <span class="icon-hexagon-sm"><i class="fa fa-linkedin"></i></span>
              </a>
              <a class="pter" title="Pinterest" href="#">
                <span class="icon-hexagon-sm"><i class="fa fa-pinterest"></i></span>
              </a>
              <a class="skype" title="Skype" href="#">
                <span class="icon-hexagon-sm"><i class="fa fa-skype"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div><!--/ Row end -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copyright-info">
               &copy; Copyright 2016 Quickthemes. <span>All Rights Reserved</span>
              </div>
        </div>
      </div><!--/ Row end -->

    </div><!--/ Container end -->
  </section><!--/ Footer end -->
  </sectioncontainer>
