body {
  padding-bottom: 70px;
}

.wice_index_for {
  .index_for {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;

    .blank {
      color: #777;
    }

    thead > tr > th {
      padding-right: 30px;
      white-space: nowrap;
    }

    thead .sorting,
    thead .sorting.asc,
    thead .sorting.desc,
    thead .sorting.asc.disabled,
    thead .sorting.desc.disabled {
      cursor: pointer;
      position: relative;
    }

    thead .sorting:after,
    thead .sorting.asc:after,
    thead .sorting.desc:after {
      position: absolute;
      top: 8px;
      right: 8px;
      display: block;
      font-family: 'Glyphicons Halflings';
      opacity: 0.5;
    }
    thead .sorting.asc.disabled:after,
    thead .sorting.desc.disabled:after {
      color: #eee;
    }
    thead .sorting:after {
      opacity: 0.2;
      content: "\e150"; /* sort */
    }
    thead .sorting.asc:after {
      content: "\e155"; /* sort-by-attributes */
    }
    thead .sorting.desc:after {
      content: "\e156"; /* sort-by-attributes-alt */
    }
  }

  .index_for_info {
    display: inline-block;
    line-height: 34px;
  }

  .index_for_pagination ul {
    margin: 0;
  }
}

.table {
  .actions {
    white-space: nowrap;

    .action {
      margin-right: 5px;
    }
  }
}

.nav {
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}
