<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>中恒联保</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style/animate_css.css"></link>
    <link rel="stylesheet" href="style/pretty_photo.css"></link>
    <link rel="stylesheet" href="style/Owl_CSS.css"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.owlcarousel/1.31/owl.theme.css" />
    <link rel="stylesheet" href="style/FlexSlider.css"></link>
    <link rel="stylesheet" href="style/Styles.css"></link>
    <link rel="stylesheet" href="style/Premium_Sections.css"></link>
    <link rel="stylesheet" href="style/Media_Queries.css"></link>
  </head>

  <body id="qt-body" class="qt-body">
    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.owlcarousel/1.31/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/prettyphoto/3.1.6/js/jquery.prettyPhoto.js"></script>
    <script src="https://cdn.jsdelivr.net/flexslider/2.6.0/jquery.flexslider-min.js"></script>
    <script src="https://cdn.jsdelivr.net/isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script src="javascript/isotope_init.js"></script>
    <script src="https://cdn.jsdelivr.net/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js"></script>
    <script src="https://cdn.jsdelivr.net/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="javascript/custom.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="javascript/gmap_init.js"></script>
  </body>
</html>

