<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>中恒联保</title>

    <%= stylesheet_link_tag "welcome" %>
  </head>

  <body id="qt-body" class="qt-body">
    <%= yield %>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=95f87a7ab38b178d754a7ebdcb685d5c"></script>
    <%= javascript_include_tag "welcome" %>

  </body>
</html>

